
body {
    height: 1000px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   
    background-image: url(images/redphone.jpg);
    background-size: 4800px;
    background-repeat: no-repeat;
    background-position: center;
}

