:root {
    --blackColor: #0D070B;
    --blackScreen: #161616;
    --whiteColor: rgb(225, 225, 225);
    --pinkColor: #D950EB;
    --redColor: #F04878;

}

@font-face {
    font-family: orbitron;
    src: url(./Fonts/Orbitron-Black.ttf);
}

@font-face {
    font-family: orbitronbread;
    src: url(./Fonts/Orbitron-SemiBold.ttf);
}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--blackColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/jr-korpa-9XngoIpxcEo-unsplash.jpg);
    background-size: cover;

}

#wrapper {
    width: 90%;
    box-shadow: 0 0 40px 20px var(--pinkColor);
}



/*page 1*/
.section1 {
    background-color: var(--blackColor);
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/jr-korpa-9XngoIpxcEo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    gap: 200px;

}

.section1:hover {
    box-shadow: 0 0 40px 50px var(--pinkColor);
    transition: box-shadow 3s;
}

.section2 {

    height: 150vh;
}



.section3 {
    height: 150vh;
    background-color: var(--blackColor);
    background-image: url(./images/jr-korpa-SFT9G3pAxLY-unsplash.jpg);
    background-position: center;
    background-size: cover;

}

.section3:hover {
    box-shadow: 0 0 40px 50px var(--pinkColor);
    transition: box-shadow 3s;
}

.section4 {
    background-color: var(--blackColor);
    height: 150vh;
}

.section4:hover {
    box-shadow: 0 0 40px 50px var(--pinkColor);
    transition: box-shadow 3s;
}

#phoneContainer {
    height: 600px;
    width: 300px;
    border-radius: 15px;
    background-color: var(--blackColor);
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 0 40px 5px var(--blackColor);
    border: 2px solid black;

}

#phoneItems {
    background-color: var(--blackScreen);
    height: 585px;
    width: 285px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

#phoneItems p {
    font-family: "orbitron";
    font-size: 20px;
    display: none;
    text-align: center;
}

#phoneItems:hover {
    background-color: var(--whiteColor);
    box-shadow: 0 0 40px 20px var(--whiteColor);
    transition: 2s;
}

#phoneItems:hover p {
    display: inherit;
}


#phoneItems:active {
    box-shadow: 0 0 40px 1000px var(--whiteColor);
    z-index: 0.9;
    background-image: url(./images/arm-removebg-preview.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 300px;
    height: 300px;
    overflow: visible;
}

#phoneItems:active p {
    opacity: 0;
    transition-delay: 1ms;
}


/*section2*/

.section2 {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 .textContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    height: 200px;
    width: 100%;
    flex-wrap: wrap;
}

.textItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-grow: 1;
    background-color: var(--redColor);
    width: 450px;
    font-family: "orbitronbread";
    opacity: 0;
    border-radius: 25px;
    text-align: center;

}

#image1 {
    background-image: url(./images/arm-removebg-preview.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#image2 {
    background-image: url(./images/brain-removebg-preview.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

#image3 {
    background-image: url(./images/eye-removebg-preview.png);
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.textContainer:hover .textItem {
    opacity: unset;
    transition: 1s;
}

/*FOOTER*/
footer {
    height: 120vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#photobooth {
    width: 500px;
    height: 700px;
    transition-duration: 2s;
    background-image: url(../images/phone_booth.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#photobooth:hover {
    width: 960px;
    height: 860px;
}

footer p {
    color: rgba(245, 239, 229, 0.826);
    font-size: 16px;
    font-family: helvetica;
    position: absolute;
    top: 300px;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    10%,
    90% {
        opacity: 0.9;
    }

    20%,
    80% {
        opacity: 0.8;
    }

    30%,
    70% {
        opacity: 0.7;
    }

    40%,
    60% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.5;
    }
}

.blinking {
    animation: blink 1s infinite;
    /* Adjust the duration as needed */
}