* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

#wrapper {
    width: 90%
}

.section1 {
    background-color: black;
    height: 150vh;

}

.section2 {
    background-color: rgb(225, 225, 225);
    height: 150vh;
}

.section3 {
    height: 150vh;
    background-color: black;
}

.section4 {
    background-color: rgb(225, 225, 225);
    height: 150vh;
}