:root {
    --blackColor: #0D070B;
    --blackScreen: #161616;
    --whiteColor: rgb(225, 225, 225);
    --pinkColor: #D950EB;
    --redColor: #f31151;

}

@font-face {
    font-family: orbitron;
    src: url(./Fonts/Orbitron-Black.ttf);
}

@font-face {
    font-family: orbitronbread;
    src: url(./Fonts/Orbitron-SemiBold.ttf);
}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--blackColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/jr-korpa-9XngoIpxcEo-unsplash.jpg);
    background-size: cover;

}

#wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 200px;
}



/*page 1*/
.section1 {
    background-color: var(--blackColor);
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/jr-korpa-9XngoIpxcEo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    gap: 200px;


}



.section2 {

    height: 100vh;
    display: flex;


}

#section2top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;





}





.section3 {

    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.8;
    transition: 1s;

}

.section3 .textitem {
    font-size: 50px;
}



.section3 p {


    color: var(--whiteColor);
    font-size: 18px;
    font-family: "orbitronbread";
    flex-grow: 1;
    padding: 20px;
    width: 300px;
    font-size: 10px;
    transition: 1s;

}

.section3container:hover p {
    opacity: 1;
    font-size: 13px;
    transition: 1s;
}

.section3container {

    display: flex;
    flex-direction: column;
}

.section3container:hover {
    flex-direction: row;
    transition: 1s;
    opacity: 1;
    font-size: 18px;
}

.video-container {

    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

#video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the video covers the entire container */
}







#phoneContainer {
    height: 600px;
    width: 300px;
    border-radius: 15px;
    background-color: var(--blackColor);
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 0 40px 5px var(--blackColor);
    border: 2px solid black;

}

#phoneItems {
    background-color: var(--blackScreen);
    height: 585px;
    width: 285px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

#phoneItems p {
    font-family: "orbitron";
    font-size: 20px;
    display: none;
    text-align: center;
}

#phoneItems:hover {
    background-color: var(--whiteColor);
    box-shadow: 0 0 40px 20px var(--whiteColor);
    transition: 2s;
}

#phoneItems:hover p {
    display: inherit;
}


#phoneItems:active {
    box-shadow: 0 0 40px 1000px var(--whiteColor);
    z-index: 0.9;
    background-image: url(./images/arm-removebg-preview.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 300px;
    height: 300px;
    overflow: visible;
}

#phoneItems:active p {
    opacity: 0;
    transition-delay: 1ms;
}


/*section2*/

.section2 {
    background-color: rgb(0, 0, 0, 0.8);


}



.textitem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.85;
    padding: 20px;
    font-family: "orbitronbread";
    gap: 10px;
    line-height: 1.5;
    text-align: left;
    transition: 1s;
    border-radius: 25px;
    width: 50%;
    padding: 30px;
    font-size: 18px;
    color: var(--whiteColor);


    margin: 40px;



}

.section2 .textitem:hover {

    opacity: 1;
}

.section2 .p1 {

    font-size: 0;
}

.section2 .p2 {

    font-size: 0;
}

.section2 .p3 {

    font-size: 0;
}

.section2 .textitem:hover .p1 {
    font-size: 18px;
}

.section2 .textitem:hover .p2 {
    font-size: 18px;
}

.section2 .textitem:hover .p3 {
    font-size: 18px;

}

.section2 .textitem:hover {
    font-size: 0;
}


.texticon {
    height: 250px;
    width: 250px;
    box-shadow: 2px 2px 2px 2px var(--whiteColor);
    border-radius: 50%;


}

.texticon:hover {
    box-shadow: 10px 10px 10px 10px var(--whiteColor);
    transition: 1s;
    height: 300px;
    width: 300px;
}

#image1 {
    background-image: url(./images/arm-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#image1:hover {
    background-image: url(./images/smartwatch.jpeg);
    transition: 1s;
}

#image2:hover {
    background-image: url(./images/brainchip.jpeg);
    transition: 1s;
}

#image3:hover {
    background-image: url(./images/augglasses.jpeg);
    transition: 1s;
}



#image2 {
    background-image: url(./images/brain-removebg-preview.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

#image3 {
    background-image: url(./images/eye-removebg-preview.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

#image4 {
    background-image: url(./images/smartwatch.jpeg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#image5 {
    background-image: url(./images/brainchip.jpeg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

#image6 {
    background-image: url(./images/augglasses.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



/*FOOTER*/
footer {
    height: 120vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#photobooth {
    width: 500px;
    height: 700px;
    transition-duration: 2s;
    background-image: url(../images/phone_booth.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#photobooth:hover {
    width: 960px;
    height: 860px;
}

footer p {
    color: rgba(245, 239, 229, 0.826);
    font-size: 16px;
    font-family: helvetica;
    position: absolute;
    top: 300px;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    10%,
    90% {
        opacity: 0.9;
    }

    20%,
    80% {
        opacity: 0.8;
    }

    30%,
    70% {
        opacity: 0.7;
    }

    40%,
    60% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.5;
    }
}

.blinking {
    animation: blink 1s infinite;
    /* Adjust the duration as needed */
}